* {
	margin: 0;
	padding: 0;
}

body {
	padding: 0;
	margin: 0;
}

.pc-slide {
	width: 380px;
	margin: 0 auto;
}

.view .swiper-container {
	width: 380px;
	height: 280px;
}

.preview {
	width: 100%;
	margin-top: 10px;
	position: relative;
}
.OnImg{
	width: 100%;
}
.preview .swiper-container {
	width: 380px;
	height: 40px;
	margin-left: 35px;
}

.preview .swiper-slide {
	width: 87px;
	height: 82px;
}

.preview .slide6 {
	width: 82px;
}

.preview img {
	padding: 1px;
}

.preview .active-nav img {
	padding: 0;
	border: 1px solid #F00;
}

.preview .swiper-container {
	width: 430px;
	height: 82px;
	margin-left: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin: 0;
}

.Top {
	background: rgb(245, 245, 245);
	padding-bottom: 60px;
}

.Tiele {
	background: url(../images/title.png) no-repeat;
	background-size: cover;
	/*height: 250px;*/
	width: 100%;
	padding: 100px 0;
}

.Tiele p {
	margin: 0 auto;
	max-width: 1280px;
	font-size: 60px;
	color: #FFFFFF;
}

.TieleP {
	/*margin-top: 83px;*/
}

.bottonOImg {
	border: 2px solid #ff9900;
	width: 36px;
	display: block;
	margin-bottom: 15px;
}

.bottonOImg1 {
	display: inline-block;
	vertical-align: middle;
}

.bottonTImg {
	border: 2px solid #ff9900;
	width: 36px;
	display: block;
	margin-bottom: 15px;
}

.TieleP span {
	color: #ff9900;
}

.page {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
	margin-top: 50px;
	padding-bottom: 20px;
}

.page a {
	text-decoration: none;
	color: black;
	width: 150px;
	height: 50px;
	line-height: 50px;
	display: inline-block;
	font-size: 18px;
	margin: 0 0.4%;
	background: white;
}

.page a:hover {
	color: white;
	background: #ff9900;
	margin: 0 0.4%;
}

.page .pageA {
	width: 150px;
	height: 50px;
	line-height: 50px;
	background: #ff9900;
	color: white;
}

.botton {
	max-width: 1280px;
	margin: 0 auto;
}

.bottonOne {
	width: 379px;
	height: 538px;
	background: white;
	padding: 12px 15px 0 15px;
	position: relative;
	display: inline-block;
	margin: 0 6.96px;
	margin-bottom: 25px;
}

.bottonOne:hover {
	box-shadow: 0 13px 35px 0 rgba(0, 0, 0, .19);
	-webkit-transition: all .3s cubic-bezier(.55, 0, .1, 1);
	transition: all .3s cubic-bezier(.55, 0, .1, 1);
	-webkit-transform: translate3d(0, -1px, 0);
	-ms-transform: translate3d(0, -1px, 0);
	transform: translate3d(0, -1px, 0);
}

.bottonOneImg {
	width: 100%;
}

.bottonOneDiv {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 6px;
}

.bottonOneDiv dd {
	margin-right: 16px;
	display: inline-block;
	vertical-align: middle;
}

.bottonOneDiv img {
	vertical-align: middle;
	width: 16px;
}

.bottonTwoDiv span {
	vertical-align: middle;
	color: #999999;
}

.bottonTwoDiv img {
	vertical-align: middle;
}

.bottonTwoDiv {
	margin-bottom: 9px;
}

.bottonThreeDiv p {
	display: inline-block;
	background: red;
	color: white;
	width: 40px;
	text-align: center;
	height: 20px;
}

.bottonThreeDiv {
	margin-top: 7px;
}

.bottonThreeDiv p span {
	background: white;
	color: red;
	/*padding: 3px;*/
	height: 16px;
	margin-top: 2px;
	line-height: 16px;
	border-radius: 2px;
	width: 22px;
	margin-right: 2px;
}

.bottonThreeDiv span {
	background: #ff9900;
	color: white;
	/*width: 40px;*/
	display: inline-block;
	/*height: 20px;*/
}

.bottonThreeDiv dd {
	display: inline-block;
	background: #ff9900;
	color: white;
	width: 40px;
	height: 20px;
	text-align: center;
	vertical-align: bottom;
}

.bottonBos {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	margin-left: 15px;
}

.bottonFourDiv {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	height: 50px;
	border-top: 1px solid #e5e5e5;
}

.bottonFourDiv a {
	width: 32.49%;
	display: inline-block;
	background: white;
	text-align: center;
	margin: 0;
	height: 100%;
	line-height: 50px;
	color: #999999;	
	text-decoration: none
}

.bottonFourDiv a img {
	width: 18px;
	vertical-align: middle;
	margin-right: 5px;
}

@media (max-width:1422px) {
	.botton {
		width: 800px;
	}
}

@media (max-width:1280px) {
	.Tiele p {
		font-size: 30px;
		text-align: center;
	}
	.Tiele {
		padding-top: 40px;
	}
	.TieleP {
		margin-bottom: 20px !important;
	}
}

@media (max-width:952px) {
	.botton {
		width: 390px;
	}
}